.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 5px; /* Şarkı ve sanatçı ismi arasına boşluk */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Emojiler ve butonlar arasında daha fazla boşluk */
}

.emoji, .emoji-button {
  font-size: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.count {
  font-size: 18px;
  margin-left: 5px;
}
