.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 5px; /* Şarkı ve sanatçı ismi arasına boşluk */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Emojiler ve butonlar arasında daha fazla boşluk */
}

.emoji, .emoji-button {
  font-size: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.count {
  font-size: 18px;
  margin-left: 5px;
}

.btn-xs {
  font-size: 0.2rem; /* Küçük yazı boyutu */
  padding: 0.25rem; /* Küçük iç boşluk */
  border-radius: 0.2rem; /* Daha küçük köşe yuvarlaması */
}

.search-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.search-container input {
  width: 150px;
  height: 30px;
  font-size: 0.85rem;
}

.search-container button {
  padding: 2px 6px;
  font-size: 0.85rem;
  height: 30px;
}
